<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zrenie20">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:name=".ZrenieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zrenie20">
        <activity
            android:name=".mSharedCamera.SharedActivity"
            android:exported="false" />

        <activity android:name=".mycloudanchor.MyCloudAnchorActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.Zrenie20.NoActionBar" />
        <activity
            android:name=".LibActivity"
            android:theme="@style/Theme.Zrenie20.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.Zrenie20.NoActionBar" />
        <activity android:name=".space.SpaceActivity" />

        <activity android:name=".cloudAnchor2.MainActivity"/>

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zrenie20.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="zrenie2"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".augmentedFace.augmentedfaces.AugmentedFacesActivity" />
        <activity android:name=".augmentedimage.AugmentedImageActivity" />
        <activity android:name=".cloudanchor.CloudAnchorActivity" />
        <activity android:name=".computervision.ComputerVisionActivity" />
        <activity android:name=".persistentcloudanchor.CloudAnchorActivity" />
        <activity android:name=".sharedcamera.SharedCameraActivity" />
        <activity android:name=".persistentcloudanchor.ResolveAnchorsLobbyActivity" />
        <activity android:name=".location.LocationActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyAk099TeSjI46xPSIZPnAxhif3oXsfDBDA" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsG6GJeJ4I3LzeADBB8Ouv1jZQTknvG3I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>